<div class="container">
    <div>
        <label for="email">Email address</label><br>
        <input type="email" name="email" id="email" placeholder="Enter email">
    </div>
     <div>
        <p>We'll never share your email with anyone else.</p><br>
     </div>
     <div>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Password">
     </div><br>

     <span class="myspan">
        <input type="checkbox">
        <span>Stay logged in</span><br>
     </span><br>

     <div>
        <button class="submitdiv">Submit</button>
     </div>
 </div>