<!-- <button type="button" (click)="afficheDetails(newItem.value)">
Afficher détails
</button> -->



<div class=" card mb-3 container">
    <h1>{{album.title}}</h1>
    <img src="{{album.link}}" alt="">
    <div> Name : {{album.title}}</div>
    <div>Genre : {{album.genre}}</div>
    <div>Label : {{album.label}}</div>
    <div>Auteur : {{album.artist}}</div>
    <div>Date de sortie : {{album.releaseDate}}</div>


    <div class="toplay">
        <button (click)="play()" class="btn btn-primary">Play 🎶</button>
    </div><br>
    <div class="progres" *ngIf="playing">
        <div class="progress-bar" role="progressbar" [style.width.%]="ratio" >

        </div>
    </div>
    <h2 class="songsDiv">List of songs</h2>

    <span class="word" *ngFor="let track of album.tracks">
        {{track.trackNumber}}. {{ track.title }} ({{track.duration}})
    </span>
</div>