<div class="contain">
    <section>
        <app-aside [album]="selectedAlbum" *ngIf="affiche">
        </app-aside>
    </section>
    <section>
        <h1>Page principale de Music Album</h1>
        <div>
            <div class="conteneur">
                <form class="form-inline my-2 my-lg-0" >
                    <input required class="form-control mr-sm-2"
                    name="search" 
                        placeholder="Entrez le titre d'une chanson "  #filter   
                       >
                    <button class="btn btn-success" type="submit" (click)="filterResults(filter.value)">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div class="divbuttons">
            <nav>
                <button class="btn">Prev</button>
                <button class="btn">1</button>
                <button class="btn">2</button>
                <button class="btn">3</button>
                <button class="btn">4</button>
                <a routerLink="/">
                    <button class="btn">Next</button></a>
            </nav>
        </div>
        <div *ngFor="let album of       filteredAlbumList 
        ; let index" class="container">
            <div class="h2">
                <h2>{{ album.genre }}</h2>
            </div>
            <div>
                <img src="{{album.coverImage}}" alt="img">
            </div>
            <article>
                <a class="text-info" href="/album/{{album.id}}">{{album.title}}</a> <span>
                    <i> {{album.artist}}</i>
                </span>
                <p>{{ album.description }}</p>
                <span class="word" *ngFor="let tag of album.tags">{{
                    tag
                    }}</span>

                <div class="bottom">
                    <button class="btn">en</button>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>  -->
                    ♥
                    <span>{{ album.trackCount }}</span>
                    ⏰<span>{{ album.duration }}</span>
                    <!-- <button (click)="afficherdetails(album)">Details</button> -->
                    <button class="btn" (click)="showDetails(album.id)">Details</button>
                </div>
            </article>
        </div>
    </section>
    <!-- <app-aside (newItemEvent)="afficherdetails($event)" *ngIf="aside === true"></app-aside> -->
</div>